<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
</head>
<body>
    <div class="sidenav-wrapper" id="sidenav-wrapper">
        
        <div class="sidenav" id="sidenav">        
            
            <a href="#" class="close"><span><i class="fa fa-times"></i></span></a>
        
            <div class="nav-items">
                <div class="login-register">            
                    <a href="#" class="signup">Register</a>
                    <a href="#" class="login"><span><i class="fas fa-sign-in-alt"></i></span> Login</a>
                </div>
                <ul>
                <li><a href="/">Home</a></li>
                <li>
                    <a class="courses" href="#">Courses</a>
                    <ul>
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                        <li><a href="#">JavaScript</a></li>
                        <li><a href="#">NodeJS</a></li>
                        <li><a href="#">ExpressJS</a></li>
                    </ul>
                </li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </div>
       
    </div>
</body>
</html>