
<div id="sidenav-wrapper">
    <nav class="sidenav" id="sidenav">               
        <div class="header">
            <span class="close"><span><i class="fas fa-arrow-left"></i></span></span>
        </div>
        <div class="sidenav-contents">
            <!-- <div class="btns">
                <% if (typeof AuthUser != 'undefined') { %>                        
                    <!-- <a href="/logout" class="logout" ><span>Logout</span></a>                       -->
                <% } %>        
                <!-- <a href="/create-new-article" class="create-new-article" id=<%=title == "Create Article" ? "hide-btn" : ""%>> <span class="article-icon"><i class="far fa-newspaper"></i></span><span>Create Article</span></a>                                 -->
                <!-- <div class="login-register">                                    
                    <% if (typeof AuthUser == 'undefined') { %>
                        <a href="/login" class="login"> <span class="article-icon"><i class="fas fa-sign-in-alt"></i></span> <span>Login</span></a>                
                        <a href="/register" class="register" id=<%=title == "Create Article" ? "hide-btn" : ""%>> <span class="article-icon"><i class="fas fa-user-circle"></i></span> <span>Register</span></a>                
                    <% } %>
                </div> 
            </div> -->
            <div class="search">
                <input type="text" placeholder="Search" class="search">
                <div class="search-icon">
                    <span class="material-icons">search</span>
                </div>
            </div>
            
            <ul>
                <li><a href="/"><span><i class="fas fa-home"></i></span> <span>Home</span></a></li>
                <li><a href="/blog"><span><i class="fas fa-blog"></i></span> <span>Blog</span></a></li>
                <li><a href="/resume"><span><i class="fas fa-file"></i></span> <span>Resume</span></a></li>
                <li><a href="/#projects"><span><i class="fas fa-project-diagram"></i></span> <span>Projects</span></a></li>
            </ul>        
        </div>
    </nav>
</div>
<script src="../js/main.js"></script>