<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../fontawesome-free-5.13.0-web/css/all.css">
    <title>Navbar</title>
</head>
<body>
    
    <div class="social-profiles">
        <div class="profiles">
            <div class="icons">
                <a href="">
                    <i class="fab fa-facebook"></i>
                    <span class="title">Facebook</span>
                </a>
                <a href="">
                    <i class="fab fa-twitter"></i>
                    <span class="title">Twitter</span>
                </a>
                <a href="">
                    <i class="fab fa-linkedin"></i>
                    <span class="title">LinkedIn</span>
                </a>
                <a href="">
                    <i class="fab fa-github"></i>
                    <span class="title">Github</span>
                </a>
            </div>
        </div>
        <div id="close">
            <a href="" class="close"><i class="fas fa-times"></i></a>
        </div>
    </div>
</body>
</html>