<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
</head>
<body>
    <div class="container">
        <div class="blog" id="blog"> 
            <div class="more-onside">
                <div class="mores">
                    <div class="heading">
                        <h2>Latest Posts</h2>
                    </div>
                    <div class="more">
                        <div class="title">
                            <a href="#"><h3>Creatin rest APIs using Nodejs/ExpressJS/Mongodb and Postman</h3></a>
                        </div>
                        <div class="body" style="height: 50px; overflow: hidden; text-overflow: ellipsis;">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem aliquam doloribus voluptatibus sunt sit, tempore dolor aut ab quaerat optio. Molestias nesciunt libero vitae facere tempore ab fugiat cum, debitis deserunt necessitatibus illo vel expedita quidem tenetur. Quae nostrum culpa sed reprehenderit? Reprehenderit repudiandae autem perspiciatis, dolor non beatae sunt odio quasi laboriosam ad porro maxime harum. Pariatur odio similique cupiditate aliquam dicta facilis dolore nemo officiis enim, porro asperiores cum, quae necessitatibus consequatur. Eius soluta voluptates nobis sunt numquam, ipsa aperiam dolore et dolores ea ut ex porro incidunt quas temporibus, consequatur aliquam. Enim maiores voluptate omnis delectus iure.</p>
                        </div>
                        <div class="written-by">
                            <span class="author">Posted by Rizwan Ansari</span>
                            <span class="date">On 26 October 2019</span>
                        </div>
                    </div>                                       
                    <div class="more">
                        <div class="title">
                            <a href="#"><h3>Creatin rest APIs using Nodejs/ExpressJS/Mongodb and Postman</h3></a>
                        </div>
                        <div class="body" style="height: 50px; overflow: hidden; text-overflow: ellipsis;">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem aliquam doloribus voluptatibus sunt sit, tempore dolor aut ab quaerat optio. Molestias nesciunt libero vitae facere tempore ab fugiat cum, debitis deserunt necessitatibus illo vel expedita quidem tenetur. Quae nostrum culpa sed reprehenderit? Reprehenderit repudiandae autem perspiciatis, dolor non beatae sunt odio quasi laboriosam ad porro maxime harum. Pariatur odio similique cupiditate aliquam dicta facilis dolore nemo officiis enim, porro asperiores cum, quae necessitatibus consequatur. Eius soluta voluptates nobis sunt numquam, ipsa aperiam dolore et dolores ea ut ex porro incidunt quas temporibus, consequatur aliquam. Enim maiores voluptate omnis delectus iure.</p>
                        </div>
                        <div class="written-by">
                            <span class="author">Posted by Rizwan Ansari</span>
                            <span class="date">On 26 October 2019</span>
                        </div>
                    </div>
                    <div class="more">
                        <div class="title">
                            <a href="#"><h3>Creatin rest APIs using Nodejs/ExpressJS/Mongodb and Postman</h3></a>
                        </div>
                        <div class="body" style="height: 50px; overflow: hidden; text-overflow: ellipsis;">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem aliquam doloribus voluptatibus sunt sit, tempore dolor aut ab quaerat optio. Molestias nesciunt libero vitae facere tempore ab fugiat cum, debitis deserunt necessitatibus illo vel expedita quidem tenetur. Quae nostrum culpa sed reprehenderit? Reprehenderit repudiandae autem perspiciatis, dolor non beatae sunt odio quasi laboriosam ad porro maxime harum. Pariatur odio similique cupiditate aliquam dicta facilis dolore nemo officiis enim, porro asperiores cum, quae necessitatibus consequatur. Eius soluta voluptates nobis sunt numquam, ipsa aperiam dolore et dolores ea ut ex porro incidunt quas temporibus, consequatur aliquam. Enim maiores voluptate omnis delectus iure.</p>
                        </div>
                        <div class="written-by">
                            <span class="author">Posted by Rizwan Ansari</span>
                            <span class="date">On 26 October 2019</span>
                        </div>
                    </div>
                </div>
            </div>           
            <div class="articles">
                <div class="article">
                    <div class="article-header">
                        <div class="author">
                            <div class="profile-pic">
                                <img src="https://www.jodilogik.com/wordpress/wp-content/uploads/2016/05/people-1.png" alt="">
                            </div>
                            <div class="author-name">
                                <h3>Author's Name</h3>
                                <span>Designation</span>
                            </div>
                        </div>
                    </div>
                    <div class="article-body">
                        <div class="title">
                            <h1>Creating full respoive website using HTML and CSS</h1>
                        </div>
                        <div class="content">
                            <p style="height: 100px; overflow: hidden; text-overflow: ellipsis;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia officia consequatur earum voluptas, qui adipisci ipsam sint quidem doloremque modi molestiae quos minima quibusdam ducimus rem dolorem eos fuga aspernatur tempore, doloribus, nisi praesentium iusto ea. Delectus veniam repellat porro sapiente nulla! Fugit sequi qui praesentium nemo quo dolor, inventore nostrum quam accusamus illum recusandae iure aliquam exercitationem consectetur veritatis aperiam veniam facere architecto repudiandae sapiente pariatur adipisci ab modi! Esse animi excepturi odio architecto quia suscipit id perferendis voluptatem optio, fuga assumenda nobis asperiores, vel non quis officiis aut ipsum! Voluptatum ullam ex beatae accusantium dolores veritatis harum nesciunt, facilis praesentium aperiam iusto maxime autem molestiae ut odio sapiente mollitia vero dolor expedita corrupti in nam! A nulla sint quasi neque eius id voluptatum saepe similique, distinctio repellat iste corrupti commodi non sequi officia iure? Aut sed error facere, eaque modi culpa. Inventore sunt quaerat quia placeat praesentium quisquam veritatis molestias sint atque! Doloremque iusto porro id! In cupiditate perspiciatis at optio, ipsa quibusdam repellat doloremque error expedita corrupti iure dolores nulla laudantium corporis nostrum adipisci magni cum sapiente aliquam voluptas perferendis quasi omnis quos! Natus eaque in consectetur? Animi, ipsum? Illum, expedita beatae ea corrupti laboriosam quae reiciendis!</p>
                        </div>
                        <div class="read-more">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                    <div class="article-footer">
                        <div class="content">
                            <a href="#">Like</a>
                            <a href="#">Comment</a>
                            <a href="#">Share</a>
                        </div>
                    </div>
                </div>
                <div class="article">
                    <div class="article-header">
                        <div class="author">
                            <div class="profile-pic">
                                <img src="https://www.jodilogik.com/wordpress/wp-content/uploads/2016/05/people-1.png" alt="">
                            </div>
                            <div class="author-name">
                                <h3>Author's Name</h3>
                                <span>Designation</span>
                            </div>
                        </div>
                    </div>
                    <div class="article-body">
                        <div class="title">
                            <h1>Creating full respoive website using HTML and CSS</h1>
                        </div>
                        <div class="content">
                            <p style="height: 100px; overflow: hidden; text-overflow: ellipsis;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia officia consequatur earum voluptas, qui adipisci ipsam sint quidem doloremque modi molestiae quos minima quibusdam ducimus rem dolorem eos fuga aspernatur tempore, doloribus, nisi praesentium iusto ea. Delectus veniam repellat porro sapiente nulla! Fugit sequi qui praesentium nemo quo dolor, inventore nostrum quam accusamus illum recusandae iure aliquam exercitationem consectetur veritatis aperiam veniam facere architecto repudiandae sapiente pariatur adipisci ab modi! Esse animi excepturi odio architecto quia suscipit id perferendis voluptatem optio, fuga assumenda nobis asperiores, vel non quis officiis aut ipsum! Voluptatum ullam ex beatae accusantium dolores veritatis harum nesciunt, facilis praesentium aperiam iusto maxime autem molestiae ut odio sapiente mollitia vero dolor expedita corrupti in nam! A nulla sint quasi neque eius id voluptatum saepe similique, distinctio repellat iste corrupti commodi non sequi officia iure? Aut sed error facere, eaque modi culpa. Inventore sunt quaerat quia placeat praesentium quisquam veritatis molestias sint atque! Doloremque iusto porro id! In cupiditate perspiciatis at optio, ipsa quibusdam repellat doloremque error expedita corrupti iure dolores nulla laudantium corporis nostrum adipisci magni cum sapiente aliquam voluptas perferendis quasi omnis quos! Natus eaque in consectetur? Animi, ipsum? Illum, expedita beatae ea corrupti laboriosam quae reiciendis!</p>
                        </div>
                        <div class="read-more">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                    <div class="article-footer">
                        <div class="content">
                            <a href="#">Like</a>
                            <a href="#">Comment</a>
                            <a href="#">Share</a>
                        </div>
                    </div>
                </div>
                <div class="article">
                    <div class="article-header">
                        <div class="author">
                            <div class="profile-pic">
                                <img src="https://www.jodilogik.com/wordpress/wp-content/uploads/2016/05/people-1.png" alt="">
                            </div>
                            <div class="author-name">
                                <h3>Author's Name</h3>
                                <span>Designation</span>
                            </div>
                        </div>
                    </div>
                    <div class="article-body">
                        <div class="title">
                            <h1>Creating full respoive website using HTML and CSS</h1>
                        </div>
                        <div class="content">
                            <p style="height: 100px; overflow: hidden; text-overflow: ellipsis;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia officia consequatur earum voluptas, qui adipisci ipsam sint quidem doloremque modi molestiae quos minima quibusdam ducimus rem dolorem eos fuga aspernatur tempore, doloribus, nisi praesentium iusto ea. Delectus veniam repellat porro sapiente nulla! Fugit sequi qui praesentium nemo quo dolor, inventore nostrum quam accusamus illum recusandae iure aliquam exercitationem consectetur veritatis aperiam veniam facere architecto repudiandae sapiente pariatur adipisci ab modi! Esse animi excepturi odio architecto quia suscipit id perferendis voluptatem optio, fuga assumenda nobis asperiores, vel non quis officiis aut ipsum! Voluptatum ullam ex beatae accusantium dolores veritatis harum nesciunt, facilis praesentium aperiam iusto maxime autem molestiae ut odio sapiente mollitia vero dolor expedita corrupti in nam! A nulla sint quasi neque eius id voluptatum saepe similique, distinctio repellat iste corrupti commodi non sequi officia iure? Aut sed error facere, eaque modi culpa. Inventore sunt quaerat quia placeat praesentium quisquam veritatis molestias sint atque! Doloremque iusto porro id! In cupiditate perspiciatis at optio, ipsa quibusdam repellat doloremque error expedita corrupti iure dolores nulla laudantium corporis nostrum adipisci magni cum sapiente aliquam voluptas perferendis quasi omnis quos! Natus eaque in consectetur? Animi, ipsum? Illum, expedita beatae ea corrupti laboriosam quae reiciendis!</p>
                        </div>
                        <div class="read-more">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                    <div class="article-footer">
                        <div class="content">
                            <a href="#">Like</a>
                            <a href="#">Comment</a>
                            <a href="#">Share</a>
                        </div>
                    </div>
                </div>
                <div class="article">
                    <div class="article-header">
                        <div class="author">
                            <div class="profile-pic">
                                <img src="https://www.jodilogik.com/wordpress/wp-content/uploads/2016/05/people-1.png" alt="">
                            </div>
                            <div class="author-name">
                                <h3>Author's Name</h3>
                                <span>Designation</span>
                            </div>
                        </div>
                    </div>
                    <div class="article-body">
                        <div class="title">
                            <h1>Creating full respoive website using HTML and CSS</h1>
                        </div>
                        <div class="content">
                            <p style="height: 100px; overflow: hidden; text-overflow: ellipsis;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia officia consequatur earum voluptas, qui adipisci ipsam sint quidem doloremque modi molestiae quos minima quibusdam ducimus rem dolorem eos fuga aspernatur tempore, doloribus, nisi praesentium iusto ea. Delectus veniam repellat porro sapiente nulla! Fugit sequi qui praesentium nemo quo dolor, inventore nostrum quam accusamus illum recusandae iure aliquam exercitationem consectetur veritatis aperiam veniam facere architecto repudiandae sapiente pariatur adipisci ab modi! Esse animi excepturi odio architecto quia suscipit id perferendis voluptatem optio, fuga assumenda nobis asperiores, vel non quis officiis aut ipsum! Voluptatum ullam ex beatae accusantium dolores veritatis harum nesciunt, facilis praesentium aperiam iusto maxime autem molestiae ut odio sapiente mollitia vero dolor expedita corrupti in nam! A nulla sint quasi neque eius id voluptatum saepe similique, distinctio repellat iste corrupti commodi non sequi officia iure? Aut sed error facere, eaque modi culpa. Inventore sunt quaerat quia placeat praesentium quisquam veritatis molestias sint atque! Doloremque iusto porro id! In cupiditate perspiciatis at optio, ipsa quibusdam repellat doloremque error expedita corrupti iure dolores nulla laudantium corporis nostrum adipisci magni cum sapiente aliquam voluptas perferendis quasi omnis quos! Natus eaque in consectetur? Animi, ipsum? Illum, expedita beatae ea corrupti laboriosam quae reiciendis!</p>
                        </div>
                        <div class="read-more">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                    <div class="article-footer">
                        <div class="content">
                            <a href="#">Like</a>
                            <a href="#">Comment</a>
                            <a href="#">Share</a>
                        </div>
                    </div>
                </div>
                <div class="article">
                    <div class="article-header">
                        <div class="author">
                            <div class="profile-pic">
                                <img src="https://www.jodilogik.com/wordpress/wp-content/uploads/2016/05/people-1.png" alt="">
                            </div>
                            <div class="author-name">
                                <h3>Author's Name</h3>
                                <span>Designation</span>
                            </div>
                        </div>
                    </div>
                    <div class="article-body">
                        <div class="title">
                            <h1>Creating full respoive website using HTML and CSS</h1>
                        </div>
                        <div class="content">
                            <p style="height: 100px; overflow: hidden; text-overflow: ellipsis;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia officia consequatur earum voluptas, qui adipisci ipsam sint quidem doloremque modi molestiae quos minima quibusdam ducimus rem dolorem eos fuga aspernatur tempore, doloribus, nisi praesentium iusto ea. Delectus veniam repellat porro sapiente nulla! Fugit sequi qui praesentium nemo quo dolor, inventore nostrum quam accusamus illum recusandae iure aliquam exercitationem consectetur veritatis aperiam veniam facere architecto repudiandae sapiente pariatur adipisci ab modi! Esse animi excepturi odio architecto quia suscipit id perferendis voluptatem optio, fuga assumenda nobis asperiores, vel non quis officiis aut ipsum! Voluptatum ullam ex beatae accusantium dolores veritatis harum nesciunt, facilis praesentium aperiam iusto maxime autem molestiae ut odio sapiente mollitia vero dolor expedita corrupti in nam! A nulla sint quasi neque eius id voluptatum saepe similique, distinctio repellat iste corrupti commodi non sequi officia iure? Aut sed error facere, eaque modi culpa. Inventore sunt quaerat quia placeat praesentium quisquam veritatis molestias sint atque! Doloremque iusto porro id! In cupiditate perspiciatis at optio, ipsa quibusdam repellat doloremque error expedita corrupti iure dolores nulla laudantium corporis nostrum adipisci magni cum sapiente aliquam voluptas perferendis quasi omnis quos! Natus eaque in consectetur? Animi, ipsum? Illum, expedita beatae ea corrupti laboriosam quae reiciendis!</p>
                        </div>
                        <div class="read-more">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                    <div class="article-footer">
                        <div class="content">
                            <a href="#">Like</a>
                            <a href="#">Comment</a>
                            <a href="#">Share</a>
                        </div>
                    </div>
                </div>
                <div class="article">
                    <div class="article-header">
                        <div class="author">
                            <div class="profile-pic">
                                <img src="https://www.jodilogik.com/wordpress/wp-content/uploads/2016/05/people-1.png" alt="">
                            </div>
                            <div class="author-name">
                                <h3>Author's Name</h3>
                                <span>Designation</span>
                            </div>
                        </div>
                    </div>
                    <div class="article-body">
                        <div class="title">
                            <h1>Creating full respoive website using HTML and CSS</h1>
                        </div>
                        <div class="content">
                            <p style="height: 100px; overflow: hidden; text-overflow: ellipsis;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia officia consequatur earum voluptas, qui adipisci ipsam sint quidem doloremque modi molestiae quos minima quibusdam ducimus rem dolorem eos fuga aspernatur tempore, doloribus, nisi praesentium iusto ea. Delectus veniam repellat porro sapiente nulla! Fugit sequi qui praesentium nemo quo dolor, inventore nostrum quam accusamus illum recusandae iure aliquam exercitationem consectetur veritatis aperiam veniam facere architecto repudiandae sapiente pariatur adipisci ab modi! Esse animi excepturi odio architecto quia suscipit id perferendis voluptatem optio, fuga assumenda nobis asperiores, vel non quis officiis aut ipsum! Voluptatum ullam ex beatae accusantium dolores veritatis harum nesciunt, facilis praesentium aperiam iusto maxime autem molestiae ut odio sapiente mollitia vero dolor expedita corrupti in nam! A nulla sint quasi neque eius id voluptatum saepe similique, distinctio repellat iste corrupti commodi non sequi officia iure? Aut sed error facere, eaque modi culpa. Inventore sunt quaerat quia placeat praesentium quisquam veritatis molestias sint atque! Doloremque iusto porro id! In cupiditate perspiciatis at optio, ipsa quibusdam repellat doloremque error expedita corrupti iure dolores nulla laudantium corporis nostrum adipisci magni cum sapiente aliquam voluptas perferendis quasi omnis quos! Natus eaque in consectetur? Animi, ipsum? Illum, expedita beatae ea corrupti laboriosam quae reiciendis!</p>
                        </div>
                        <div class="read-more">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                    <div class="article-footer">
                        <div class="content">
                            <a href="#">Like</a>
                            <a href="#">Comment</a>
                            <a href="#">Share</a>
                        </div>
                    </div>
                </div>
                <div class="article">
                    <div class="article-header">
                        <div class="author">
                            <div class="profile-pic">
                                <img src="https://www.jodilogik.com/wordpress/wp-content/uploads/2016/05/people-1.png" alt="">
                            </div>
                            <div class="author-name">
                                <h3>Author's Name</h3>
                                <span>Designation</span>
                            </div>
                        </div>
                    </div>
                    <div class="article-body">
                        <div class="title">
                            <h1>Creating full respoive website using HTML and CSS</h1>
                        </div>
                        <div class="content" style="height: 100px; overflow: hidden; text-overflow: ellipsis;">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia officia consequatur earum voluptas, qui adipisci ipsam sint quidem doloremque modi molestiae quos minima quibusdam ducimus rem dolorem eos fuga aspernatur tempore, doloribus, nisi praesentium iusto ea. Delectus veniam repellat porro sapiente nulla! Fugit sequi qui praesentium nemo quo dolor, inventore nostrum quam accusamus illum recusandae iure aliquam exercitationem consectetur veritatis aperiam veniam facere architecto repudiandae sapiente pariatur adipisci ab modi! Esse animi excepturi odio architecto quia suscipit id perferendis voluptatem optio, fuga assumenda nobis asperiores, vel non quis officiis aut ipsum! Voluptatum ullam ex beatae accusantium dolores veritatis harum nesciunt, facilis praesentium aperiam iusto maxime autem molestiae ut odio sapiente mollitia vero dolor expedita corrupti in nam! A nulla sint quasi neque eius id voluptatum saepe similique, distinctio repellat iste corrupti commodi non sequi officia iure? Aut sed error facere, eaque modi culpa. Inventore sunt quaerat quia placeat praesentium quisquam veritatis molestias sint atque! Doloremque iusto porro id! In cupiditate perspiciatis at optio, ipsa quibusdam repellat doloremque error expedita corrupti iure dolores nulla laudantium corporis nostrum adipisci magni cum sapiente aliquam voluptas perferendis quasi omnis quos! Natus eaque in consectetur? Animi, ipsum? Illum, expedita beatae ea corrupti laboriosam quae reiciendis!</p>
                        </div>
                        <div class="read-more">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                    <div class="article-footer">
                        <div class="content">
                            <a href="#">Like</a>
                            <a href="#">Comment</a>
                            <a href="#">Share</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>