<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact US</title>
</head>
<body>
    <div class="container">
        <h1>Contact US</h1>
        <div class="contact">
            <p>
                <strong>Email:</strong> <span>email@example.com</span>
            </p>
            <p>
                <strong>Phone:</strong> <span>+91-XXXX-XXX-XXX</span>
            </p>
            <p>
                <strong>Adress:</strong> <span>244601 Thakurdwara, Moradabad, Uttar Pradesh, India</span>
            </p>
        </div>
    </div>
</body>
</html>