<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
</head>
<body>
    <div class="container">
        <h1>Courses</h1>
        <h3>CodAcad</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quasi quas tempore possimus veritatis, corrupti, est rerum ducimus non nisi natus iure laborum enim eos! Possimus obcaecati voluptas, ipsum, provident mollitia laborum esse iste reprehenderit fuga magni, delectus quam minima eligendi at vero suscipit? Dolorum ullam, tempore rerum doloribus id accusamus, illo assumenda natus vel adipisci velit quasi explicabo perferendis atque! Facilis ab, est distinctio molestias, tempora accusantium, ipsa eveniet delectus placeat ratione voluptates quaerat possimus. Nesciunt, cum repudiandae veritatis quae voluptatem repellat iste distinctio hic illo obcaecati dolor quo molestias dolorem facilis omnis ipsa in eos aliquam nobis. Rem.</p>
    </div>
</body>
</html>