<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <div id="homepage-wrapper">
       <div class="homepage-contents">        
            <div class="under-development-inform" id="under-development">
                <div class="label">           
                    <div class="contents">
                        <div>
                            <h1>Under Development</h1>
                            <h3>Welcome to CodAcad</h3>
                            <p>We are very sorry, our site is still not in service. Hope we will bring it in service very soon</p>
                            <p class="thank-you">Thank You</p>
                        </div>
                        <a href="#" class="ok">OK</a>
                    </div>
                </div>         
            </div>
            <div class="showcase" id="showcase">
                <div class="contents">
                    <div class="">
                        
                    </div>
                </div>
            </div>
            <div class="courses" id="courses">
                <h1 class="heading">Courses</h1>
                <div class="content">
                    <div class="course" id="html">
                        <div class="logo">
                            <span><i class="fab fa-html5"></i></span>
                        </div>
                        <div class="course-body">
                            <h3>HTML5</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, aliquid.</p>
                            <div class="rating">
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                            </div>
                            <a href="" class="learn-more">Learn HTML5</a>                        
                        </div>
                    </div>
                    <div class="course" id="css">
                        <div class="logo">
                            <span><i class="fab fa-css3"></i></span>
                        </div>
                        <div class="course-body">
                            <h3>CSS3</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, aliquid.</p>
                            <div class="rating">
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                            </div>
                            <a href="" class="learn-more">Learn CSS3</a>                        
                        </div>
                    </div>
                    <div class="course" id="js">
                        <div class="logo">
                            <span><i class="fab fa-js"></i></span>
                        </div>
                        <div class="course-body">
                            <h3>JavaScript</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, aliquid.</p>
                            <div class="rating">
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                            </div>
                            <a href="" class="learn-more">Learn JS</a>                        
                        </div>
                    </div>
                    <div class="course" id="nodejs">
                        <div class="logo">
                            <span><i class="fab fa-node-js"></i></span>
                        </div>
                        <div class="course-body">
                            <h3>NodeJS</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, aliquid.</p>
                            <div class="rating">
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                            </div>
                            <a href="" class="learn-more">Learn NodeJS</a>                        
                        </div>
                    </div>
                    <div class="course" id="mongodb">
                        <div class="logo">
                            <span><i class="fas fa-database"></i></span>
                        </div>
                        <div class="course-body">
                            <h3>MongoDB</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, aliquid.</p>
                            <div class="rating">
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                            </div>
                            <a href="" class="learn-more">Learn MongoDB</a>                        
                        </div>
                    </div>
                    <div class="course" id="html">
                        <div class="logo">
                            <span><i class="fab fa-html5"></i></span>
                        </div>
                        <div class="course-body">
                            <h3>HTML5</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, aliquid.</p>
                            <div class="rating">
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                            </div>
                            <a href="" class="learn-more">Learn HTML5</a>                        
                        </div>
                    </div>
                    <div class="course" id="css">
                        <div class="logo">
                            <span><i class="fab fa-css3"></i></span>
                        </div>
                        <div class="course-body">
                            <h3>CSS3</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, aliquid.</p>
                            <div class="rating">
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                            </div>
                            <a href="" class="learn-more">Learn CSS3</a>                        
                        </div>
                    </div>
                    <div class="course" id="js">
                        <div class="logo">
                            <span><i class="fab fa-js"></i></span>
                        </div>
                        <div class="course-body">
                            <h3>JavaScript</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, aliquid.</p>
                            <div class="rating">
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                            </div>
                            <a href="" class="learn-more">Learn JS</a>                        
                        </div>
                    </div>
                    <div class="course" id="nodejs">
                        <div class="logo">
                            <span><i class="fab fa-node-js"></i></span>
                        </div>
                        <div class="course-body">
                            <h3>NodeJS</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, aliquid.</p>
                            <div class="rating">
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                            </div>
                            <a href="" class="learn-more">Learn NodeJS</a>                        
                        </div>
                    </div>
                    <div class="course" id="mongodb">
                        <div class="logo">
                            <span><i class="fas fa-database"></i></span>
                        </div>
                        <div class="course-body">
                            <h3>MongoDB</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, aliquid.</p>
                            <div class="rating">
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                            </div>
                            <a href="" class="learn-more">Learn MongoDB</a>                        
                        </div>
                    </div>
                </div>
            </div>
         
            <div class="team" id="team">
                <div class="heading">
                    <h1>Developers' Team</h1>
                </div>
                <div class="developers">
                    <div class="left-developer-scroll"><span class="material-icons">keyboard_arrow_left</span></div>
                    <div class="right-developer-scroll"><span class="material-icons">keyboard_arrow_right</span></div>
                    <div class="developer-contents">
                        <div class="developer" id="developer-one">
                            <div class="header">
                                <div class="profile-pic">
                                    <div class="img">
                                    </div>
                                </div>    
                                <div class="profile-name">
                                    <h2>Rizwan Ansari</h2>
                                    <span>Web Developer</span>
                                </div>
                            </div>
                            <div class="bio">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi vitae minus quidem culpa error libero quaerat ducimus enim hic beatae?</p>
                            </div>
                            <div class="social-profiles">
                                <a href="#"><i class="fab fa-facebook"></i></a href="#">
                                <a href="#"><i class="fab fa-linkedin"></i></a href="#">
                                <a href="#"><i class="fab fa-twitter"></i></a href="#">
                                <a href="#"><i class="fab fa-github"></i></a href="#">
                            </div>
                        </div>
                        <div class="developer" id="developer-two">
                            <div class="header">
                                <div class="profile-pic">
                                    <div class="img">
                                    </div>
                                </div>    
                                <div class="profile-name">
                                    <h2>Developer One</h2>
                                    <span>Developer</span>
                                </div>
                            </div>
                            <div class="bio">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi vitae minus quidem culpa error libero quaerat ducimus enim hic beatae?</p>
                            </div>
                            <div class="social-profiles">
                                <a href="#"><i class="fab fa-facebook"></i></a href="#">
                                <a href="#"><i class="fab fa-linkedin"></i></a href="#">
                                <a href="#"><i class="fab fa-twitter"></i></a href="#">
                                <a href="#"><i class="fab fa-github"></i></a href="#">
                            </div>
                        </div>
                        <div class="developer" id="developer-three">
                            <div class="header">
                                <div class="profile-pic">
                                    <div class="img">
                                    </div>
                                </div>    
                                <div class="profile-name">
                                    <h2>Developer Two</h2>
                                    <span>Developer</span>
                                </div>
                            </div>
                            <div class="bio">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi vitae minus quidem culpa error libero quaerat ducimus enim hic beatae?</p>
                            </div>
                            <div class="social-profiles">
                                <a href="#"><i class="fab fa-facebook"></i></a href="#">
                                <a href="#"><i class="fab fa-linkedin"></i></a href="#">
                                <a href="#"><i class="fab fa-twitter"></i></a href="#">
                                <a href="#"><i class="fab fa-github"></i></a href="#">
                            </div>
                        </div>
                        <div class="developer" id="developer-four">
                            <div class="header">
                                <div class="profile-pic">
                                    <div class="img">
                                    </div>
                                </div>    
                                <div class="profile-name">
                                    <h2>Developer Three</h2>
                                    <span>Developer</span>
                                </div>
                            </div>
                            <div class="bio">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi vitae minus quidem culpa error libero quaerat ducimus enim hic beatae?</p>
                            </div>
                            <div class="social-profiles">
                                <a href="#"><i class="fab fa-facebook"></i></a href="#">
                                <a href="#"><i class="fab fa-linkedin"></i></a href="#">
                                <a href="#"><i class="fab fa-twitter"></i></a href="#">
                                <a href="#"><i class="fab fa-github"></i></a href="#">
                            </div>
                        </div>
                        <div class="developer" id="developer-five">
                            <div class="header">
                                <div class="profile-pic">
                                    <div class="img">
                                    </div>
                                </div>    
                                <div class="profile-name">
                                    <h2>Developer Four</h2>
                                    <span>Developer</span>
                                </div>
                            </div>
                            <div class="bio">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi vitae minus quidem culpa error libero quaerat ducimus enim hic beatae?</p>
                            </div>
                            <div class="social-profiles">
                                <a href="#"><i class="fab fa-facebook"></i></a href="#">
                                <a href="#"><i class="fab fa-linkedin"></i></a href="#">
                                <a href="#"><i class="fab fa-twitter"></i></a href="#">
                                <a href="#"><i class="fab fa-github"></i></a href="#">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about" id="about">
                <div class="content">
                    <h1>About</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis voluptates fugiat, eius sunt ipsa quisquam molestiae tenetur eum nostrum, a cum? Ea quae natus magni. Laborum quo quibusdam porro a saepe rerum accusantium sit! Ab totam facere nam iusto similique nulla fugit tempora est adipisci temporibus nisi, culpa et perspiciatis omnis quasi doloribus! At ipsam omnis eum ut voluptatem! Consequatur, nemo! Modi quam delectus dolor velit fugiat esse. Est facilis quaerat autem iure praesentium, impedit ratione eaque quibusdam repudiandae earum, ea reiciendis sapiente nam deserunt, adipisci fugiat in quidem quis aliquid culpa cupiditate corporis esse! Voluptates magni voluptatum provident, nesciunt quis omnis expedita veritatis, nostrum iure facilis dolor quia cupiditate, ducimus a et hic adipisci quod placeat? Quo at tempora totam quaerat, facere numquam animi fugiat quos doloribus temporibus accusantium, eligendi rerum sit libero molestias. Id amet veritatis rerum neque esse placeat natus earum suscipit laudantium? Non, obcaecati excepturi similique ipsam ex in nobis quibusdam dicta eveniet asperiores sint architecto libero beatae iure quae dignissimos odio nostrum! Corporis earum quo quia consectetur enim ipsum repudiandae similique obcaecati labore! Similique numquam reprehenderit ullam, possimus libero ut? Est dolore alias, delectus hic enim dignissimos rerum a. Iste nam neque eaque itaque quod quae ex velit. Sapiente soluta aut ratione qui corporis reprehenderit et, architecto modi recusandae accusamus, delectus quisquam labore dignissimos necessitatibus consequuntur mollitia illo assumenda blanditiis vero voluptatibus ullam dolorem sint culpa optio. Sit cumque vitae, pariatur nemo, possimus odit eius dolore odio aperiam, ab reprehenderit culpa necessitatibus eveniet sunt eligendi? Neque, delectus, minus provident ratione exercitationem eos doloribus quaerat harum impedit praesentium ab aperiam quam officiis vel hic quisquam, sit temporibus facilis? Ex doloribus consequuntur sequi rerum vero nihil facilis mollitia repellendus porro amet aspernatur fuga minima, accusantium, quam voluptatem. Accusantium quidem laudantium laboriosam voluptatum quas odio quibusdam veritatis natus iste nesciunt debitis, ullam commodi ducimus numquam doloribus. Dicta odit, voluptates optio aspernatur numquam earum tempore dolorem facere, neque quibusdam enim similique, accusantium distinctio voluptatibus. Ullam tenetur, fugit error voluptatibus eligendi, saepe eaque, qui laudantium nemo aperiam voluptatem ipsum iste adipisci ratione optio! Minima labore at doloribus eius molestiae adipisci! Illum quis mollitia quos eos, voluptas quaerat reiciendis delectus aut impedit natus autem, fuga harum corporis sapiente unde. Quasi, quis quod magnam nemo neque fugiat nam sequi, atque, vero quo expedita. Sit maxime iure quo quibusdam harum sequi molestiae totam sed animi, eveniet nulla unde. Error quod soluta, tenetur, perspiciatis nulla inventore minima maxime suscipit beatae sequi illo deserunt assumenda facilis at eum totam fugit. Rerum dolores quisquam velit aliquam ex saepe expedita tempore deleniti sed inventore nisi mollitia harum omnis quae neque accusamus possimus repellat error quod, odio ullam culpa? Numquam similique, eius quod nisi architecto labore natus fugit, consequatur praesentium inventore atque culpa dolorum dolores quas? Incidunt quam sapiente vel quis ipsa? Dicta quis quidem facere id, itaque velit saepe, voluptatum est labore, laborum veritatis! Exercitationem placeat nihil unde ipsum soluta nesciunt ullam molestiae accusantium id! Et, eligendi. Iusto, saepe debitis inventore eligendi illo perspiciatis aliquid totam temporibus.</p>
                </div>
            </div>
            <div class="contact" id="contact">
                <div class="content">            
                    <div class="contact-detail">                
                        <div>
                            <h1 style="color: rgba(255,255,255,.7);">Contact Us</h1>
                            <div>
                                <div class="address">
                                    <strong><span class="icon"><i class="fas fa-map-marker-alt"></i></span> <span>Address: </span> </strong>
                                    <span class="text">Post 244601 Faridnagar, Thakrudwara Moradabad, UP (India)</span>
                                </div>
                                <div class="phone">
                                    <strong><span class="icon"><i class="fas fa-phone"></i></span><span>Phone Number: </span></strong>
                                    <span class="text">+91-8979-074-004</span>
                                </div>
                                <div class="email">
                                    <strong><span class="icon"><i class="far fa-envelope"></i></span><span>E-Mail: </span></strong>
                                    <a href="" class="text">rizwan@codacad.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="message">
                        <div class="heading">
                            <h1>Send Message</h1>
                        </div>
                        <form action="">
                            <div class="form-group">
                                <label for="name">Name</label><br>
                                <div><input type="text" name="name" id="name" class="form-control" required/></div>
                            </div>
                            <div class="form-group">
                                <label for="eamil">E-Mail</label><br>
                                <div><input type="email" eamil="eamil" id="eamil" class="form-control" required/></div>
                            </div>
                            <div class="form-group">
                                <label for="name">Message</label>
                                <br>
                                <textarea name="message" id="message" cols="30" rows="6" class="form-control"></textarea>
                            </div>
                            <button type="submit" class="send-message">Send Message</button>
                        </form>
                    </div>
                </div>
            </div>
         </div>
       </div>
   </div>
</body>
</html>