<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="fontawesome-free-5.13.0-web/css/all.css">
    <title>CodAcad</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <%- include('partials/sidenav') %>
    <%- body %>
    <%- include('partials/footer')%>

    <script src="./js/main.js"></script>
</body>
</html>