<title><%= title %></title>    
    <div class="developer-resume" id="resume">
        <div class="resume-contents">
            <div class="header">
                <div class="social-profiles">
                    <div class="profile">
                        <a target="_blank" href="https://www.facebook.com/rizcodi" class="facebook"><span><i class="fab fa-facebook"></i></a></a>
                        <a target="_blank" href="https://twitter.com/codacad" class="twitter"><span><i class="fab fa-twitter"></i></span></a>
                        <a target="_blank" href="https://www.youtube.com/channel/UCbcffRotCHCA1M3mB3WNOVg?view_as=subscriber" class="youtube"><span><i class="fab fa-youtube"></i></span></a>
                        <a target="_blank" href="https://www.github.com/codacad" class="github"><span><i class="fab fa-github"></i></a></a>
                        <a target="_blank" href="https://www.linkedin.com/in/codacad/" class="linkedin"><span><i class="fab fa-linkedin"></i></a></a>
                    </div>
                </div>
                <div class="header-detail">
                    <div class="profile-and-objective">
                        <div class="profile-image"></div>
                        <div class="profile-name-and-objective">
                            <div class="name">
                                <h3>Mohd Rizwan</h3>
                                <span>Fullstack Developer</span>
                            </div>
                            <div class="objective">
                                <p>Hi, I am Mohd Rizwan, I am a self taught FullStack Web Developer and I have enough strong knowledge of web technologies (Javascript, NodeJS/ExpressJs, MongoDB and .etc) to create fullstack scalable web appliations. I have better understing to implement the responsivenss to the web pages using CSS/SASS.</p>
                            </div>
                            <div class="contact-detail">
                                <div class="address">
                                    <strong><span class="icon"><i class="fas fa-map-marker-alt"></i></span></strong>
                                    <span class="text">Post 244601 Faridnagar, Thakrudwara Moradabad, UP (India)</span>
                                </div>
                                <div class="phone">
                                    <strong><span class="icon"><i class="fas fa-phone"></i></span></strong>
                                    <span class="text">+91-8979-074-004</span>
                                </div>
                                <div class="email">
                                    <strong><span class="icon"><i class="far fa-envelope"></i></span></strong>
                                    <a href="" class="text">rizwan@codacad.com</a>
                                </div>
                            </div>
                        </div>
                    </div>                      
                </div>
            </div>

            <div class="body">
                <div class="side">

                </div>
                <div class="main">
                    <div class="contents">
                        <div class="professional-summary">
                            <h2>Professional Summary</h2>
                            <p>Goal Oriented Web Developer with strong commitment to collaboration, solution-oriented and problem-solving. Use various designing technologies to develop scalable and customer focused websites and design. Committed to high standard of web designing, user experience, useability and speed of multipe types of end users</p>
                        </div>
                        <div class="education">
                            <h2>Education</h2>
                            <div class="detail">
                                <div class="degree">
                                    <div><strong>BCA (Bachelor in Computer Science)</strong></div>
                                    <div><span class="college">Teerthanker Mahaveer University (Moradabad), UP.</span></div>
                                    <div><span class="year">2015</span></div>
                                </div>
                                <div class="degree">
                                    <div><strong>B.COM (Bachelor in Commerce)</strong></div>
                                    <div><span class="college">Ahillyabai Holkar Mahavidhalya, Thakurdwara, (Moradabad), UP.</span></div>
                                    <div><span class="year">2018</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="skills-and-tools">
                            <h2>Skill & Tools</h2>
                            <div class="skills-tools">
                                <div class="front-end">
                                    
                                    <div class="tools">
                                        <h3>Frond-End</h3>
                                        <ul>
                                            <li>
                                                <span class="icon"><span class="material-icons">done</span></span>
                                                <span>
                                                    <span>HTML</span>
                                                    <div class="frequency">
                                                        <span class="bar"></span>
                                                        <span class="percentage">90%</span>
                                                    </div>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="icon"><span class="material-icons">done</span></span>
                                                <span>
                                                    <span>CSS/SASS</span>
                                                    <div class="frequency">
                                                        <span class="bar"></span>
                                                        <span class="percentage">80%</span>
                                                    </div>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="icon"><span class="material-icons">done</span></span>
                                                <span>
                                                    <span>Bootstrap</span>
                                                    <div class="frequency">
                                                        <span class="bar"></span>
                                                        <span class="percentage">70%</span>
                                                    </div>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="icon"><span class="material-icons">done</span></span>
                                                <span>
                                                    <span>Materialize-CSS</span>
                                                    <div class="frequency">
                                                        <span class="bar"></span>
                                                        <span class="percentage">60%</span>
                                                    </div>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="icon"><span class="material-icons">done</span></span>
                                                <span>
                                                    <span>Javascript</span>
                                                    <div class="frequency">
                                                        <span class="bar"></span>
                                                        <span class="percentage">70%</span>
                                                    </div>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="icon"><span class="material-icons">done</span></span>
                                                <span>
                                                    <span>P5JS</span>
                                                    <div class="frequency">
                                                        <span class="bar"></span>
                                                        <span class="percentage">50%</span>
                                                    </div>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="back-end">
                                    
                                    <div class="tools">
                                        <h3>Back-End</h3>
                                        <ul>
                                            <li>
                                                <span class="icon"><span class="material-icons">done</span></span>
                                                <span>
                                                    <span>NodeJS</span>
                                                    <div class="frequency">
                                                        <span class="bar"></span>
                                                        <span class="percentage">70%</span>
                                                    </div>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="icon"><span class="material-icons">done</span></span>
                                                <span>
                                                    <span>ExpressJs</span>
                                                    <div class="frequency">
                                                        <span class="bar"></span>
                                                        <span class="percentage">70%</span>
                                                    </div>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="icon"><span class="material-icons">done</span></span>
                                                <span>
                                                    <span>MongoDB (Mongoose)</span>
                                                    <div class="frequency">
                                                        <span class="bar"></span>
                                                        <span class="percentage">70%</span>
                                                    </div>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="icon"><span class="material-icons">done</span></span>
                                                <span>
                                                    <span>SQL (MySQL)</span>
                                                    <div class="frequency">
                                                        <span class="bar"></span>
                                                        <span class="percentage">50%</span>
                                                    </div>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="icon"><span class="material-icons">done</span></span>
                                                <span>
                                                    <span>Mongoose</span>
                                                    <div class="frequency">
                                                        <span class="bar"></span>
                                                        <span class="percentage">60%</span>
                                                    </div>
                                                </span>
                                            </li>                                                
                                        </ul>
                                    </div>
                                </div>
                                <div class="other">
                                    
                                    <div class="tools">
                                        <h3>Other</h3>
                                        <ul>
                                            <li>
                                                <span class="icon"><span class="material-icons">done</span></span>
                                                <span>
                                                    <span>GitHub (Git)</span>
                                                    <div class="frequency">
                                                        <span class="bar"></span>
                                                        <span class="percentage">75%</span>
                                                    </div>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="icon"><span class="material-icons">done</span></span>
                                                <span>
                                                    <span>Heroku (PaaS)</span>
                                                    <div class="frequency">
                                                        <span class="bar"></span>
                                                        <span class="percentage">60%</span>
                                                    </div>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="icon"><span class="material-icons">done</span></span>
                                                <span>
                                                    <span>Testing</span>
                                                    <div class="frequency">
                                                        <span class="bar"></span>
                                                        <span class="percentage">40%</span>
                                                    </div>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="icon"><span class="material-icons">done</span></span>
                                                <span>
                                                    <span>NPM (Node Package Manager)</span>
                                                    <div class="frequency">
                                                        <span class="bar"></span>
                                                        <span class="percentage">70%</span>
                                                    </div>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="icon"><span class="material-icons">done</span></span>
                                                <span>
                                                    <span>Webpack</span>
                                                    <div class="frequency">
                                                        <span class="bar"></span>
                                                        <span class="percentage">60%</span>
                                                    </div>
                                                </span>
                                            </li>                                                
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                        <div class="projects">
                            <h2>Projects</h2>
                            <div class="content">
                                <div class="project project-one"><span class="icon"><span class="material-icons">done</span></span><a target="_blank" href="http://updatescovid19.herokuapp.com/covid19">Coronavirus Tracking App</a></div>
                            <div class="project project-two"><span class="icon"><span class="material-icons">done</span></span><a target="_blank" href="https://create-movies.herokuapp.com/movies">MongoDB Relationship Implementation</a></div>
                            <div class="project project-three"><span class="icon"><span class="material-icons">done</span></span><a target="_blank" href="https://new-des.herokuapp.com/">My Personal Site (Blog, Resume, etc.)</a></div>
                            </div>
                        </div>
                        <div class="interest">
                            <h2>Interest</h2>
                            <div class="content">
                                <div class="int-two">Computer Science</div>
                            <div class="int-one">Watching Hollywood Movies</div>                                
                            </div>
                        </div>
                        <div class="language">
                            <h2>Languages</h2>
                            <div class="content">
                                <div class="lan-one">English</div>
                            <div class="lan-two">Urdu/Hindi</div>                                
                            </div>
                        </div>
                    </div>        
                </div>
            </div>
        </div> 
    </div>        