<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <div class="resume-container">
        <div class="developer-resume" id="resume">
            <div class="resume-contents">
                <div class="header">
                    <div class="social-profiles">
                        <div class="profile">
                            <a href="" class="facebook"><span><i class="fab fa-facebook"></i></a></a>
                            <a href="" class="twitter"><span><i class="fab fa-twitter"></i></span></a>
                            <a href="" class="youtube"><span><i class="fab fa-youtube"></i></span></a>
                            <a href="" class="github"><span><i class="fab fa-github"></i></a></a>
                            <a href="" class="linkedin"><span><i class="fab fa-linkedin"></i></a></a>
                        </div>
                    </div>
                    <div class="header-detail">
                        <div class="profile-and-objective">
                            <div class="profile-image"></div>
                            <div class="profile-name-and-objective">
                                <div class="name">
                                    <h3>Mohd Rizwan</h3>
                                    <span>Fullstack Developer</span>
                                </div>
                                <div class="objective">
                                    <p>Hi, I am Mohd Rizwan, I am a self taught FullStack Web Developer and I have enough strong knowledge of web technologies (Javascript, NodeJS/ExpressJs, MongoDB and .etc) to create fullstack scalable web appliations. I have better understing to implement the responsivenss to the web pages using CSS/SASS.</p>
                                </div>
                                <div class="contact-detail">
                                    <div class="address">
                                        <strong><span class="icon"><i class="fas fa-map-marker-alt"></i></span></strong>
                                        <span class="text">Post 244601 Faridnagar, Thakrudwara Moradabad, UP (India)</span>
                                    </div>
                                    <div class="phone">
                                        <strong><span class="icon"><i class="fas fa-phone"></i></span></strong>
                                        <span class="text">+91-8979-074-004</span>
                                    </div>
                                    <div class="email">
                                        <strong><span class="icon"><i class="far fa-envelope"></i></span></strong>
                                        <a href="" class="text">rizwan@codacad.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore totam reiciendis repellendus eum dolorum hic ipsam beatae nam iure architecto error nobis sapiente obcaecati dolore ut animi distinctio culpa voluptate nisi a suscipit in, possimus, aliquid quasi. Eligendi consequatur repudiandae facere dolor ad. Hic, ex qui omnis saepe pariatur nisi illo labore ullam aliquid mollitia. A, est? Eveniet magnam voluptatum id distinctio voluptatibus fugit totam, similique repudiandae ullam excepturi nostrum in sit modi pariatur aspernatur et dolores optio numquam nobis iusto tempora? Doloribus eaque architecto rem ratione non sunt cum voluptatibus quibusdam, eveniet blanditiis dolorum. Quae molestiae repellat doloribus architecto, at laboriosam provident voluptates dolor ad enim minima corrupti repellendus ipsa quidem sed sequi. Dolor maxime atque officia sit voluptatum vel numquam error illo eaque! Eius optio veniam facilis, in eos numquam nam alias, voluptas, voluptates similique quo nihil quisquam labore illum dolorum expedita? Velit voluptatum at voluptas sed eveniet, libero sit culpa! Provident ducimus blanditiis illo. Delectus obcaecati, ipsa explicabo rem perferendis itaque natus? Eius neque pariatur ullam, qui impedit vitae, iste aliquam tempore illum doloribus asperiores, sed maiores. Laboriosam ducimus omnis laudantium fugit distinctio. Tenetur omnis libero voluptatibus nisi ex cum porro maiores voluptates quo alias. Neque quod quibusdam, ipsa natus dolorum soluta illum, possimus nostrum inventore aliquid commodi repudiandae similique placeat error. Quas quia voluptates voluptatem! Ipsa sed minus dolore id reiciendis! Iure non eveniet alias! Repellendus, est consectetur. Exercitationem id hic fuga veniam, illum cumque quam modi deleniti doloremque vero fugiat animi dicta qui quae enim neque soluta omnis. Ipsum nemo facere molestias dolore nihil animi voluptates, possimus suscipit! Nihil, quasi assumenda? Esse ullam obcaecati nulla ipsam delectus necessitatibus provident sunt sed totam fugiat! Eos tempore quis labore, voluptates voluptatibus laudantium magni sunt hic debitis veritatis velit recusandae assumenda, repudiandae accusantium ipsa consequuntur provident incidunt quae?</p>                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>