@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pangolin&family=Playfair+Display&family=Poppins&display=swap');
// font-family: 'Pangolin', cursive;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Playfair Display', serif;
$colorOne:rgba(0,0,0,.1);
$colorTwo:rgba(0,0,0,.2);
$colorThree:rgba(0,0,0,.3);
$colorFour:rgba(0,0,0,.4);
$colorFive:rgba(0,0,0,.5);
$colorSix:rgba(0,0,0,.6);
$colorSeven:rgba(0,0,0,.7);
$colorEight:rgba(0,0,0,.8);
$colorNine:rgba(0,0,0,.9);
$backgroundOne:rgb(16, 41, 61); 
$backgroundTwo:rgb(3, 24, 41); 
$backgroundThree:rgba(24, 24, 56, 0.849); 
$backgroundFour:rgb(28, 65, 95);
$backgroundFive:rgb(12, 42, 66);
$backgroundSix:rgb(5, 53, 92);
*{
    padding:0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-color:#fff;
}

// Navbar
div.sidenav-wrapper{
    display: none;
}
nav#navbar.no-shadow{
    box-shadow: none;        
    border-bottom: none;
}
nav#navbar{
    width: 100%;
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    line-height: 55px;        
    box-shadow: 0px 2px 5px rgba(0,0,0,.5);
    background-color:rgb(16, 41, 61); 
    a.hamburger{
        display: none;
    }
    a.brand-logo{
        box-sizing: border-box;
        float: left;
        padding: 0px 20px;
        text-decoration: none;
        font-size: 1.5rem;
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        color:$colorSeven;
        span.cod{
            color: orange;
        }
        span.acad{
            color:cornflowerblue;
        }
    }
    ul{
        list-style: none;
        li a.courses{
            position: relative;
            margin-right:10px;
        }
        li a.courses::after{
            content: "";
            width: 7px;
            height: 7px;
            display: block;
            position: absolute;
            top: 37%;
            right: -14px;
            transform: rotate(45deg);
            border-bottom: 2px solid rgba(255, 255, 255, 0.76);
            border-right: 2px solid rgba(255, 255, 255, 0.76);
            transition: 200ms;
            margin-right:10px;    
        }
        li:hover a.courses::after{
            content: "";
            width: 7px;
            height: 7px;
            display: block;
            position: absolute;
            top: 47%;
            right: -14px;
            transform: rotate(225deg);
            border-bottom: 2px solidrgba(255, 255, 255, 0.9);
            border-right: 2px solid rgba(255, 255, 255, 0.9);
        }
        li{
            float: left;
            position: relative;
            
            a{                
                font-weight:500;
                box-sizing: border-box;
                text-decoration: none;
                color:rgba(255, 255, 255, 0.76);
                padding: 13px;
                
            }
            a:hover{                
                color: rgba(255, 255, 255, 0.9);
                transition: 200ms ease-in-out;   
            }
            ul{
                position: absolute;
                box-sizing: border-box;
                float: none;    
                border: 1px solid $colorOne;
                padding: 5px 0px;
                margin: 0;
                box-shadow: 0px 3px 3px rgba(0,0,0,.2);
                transform: translateY(-20px);
                transition: 200ms ease-in-out;
                visibility: hidden;
                opacity: 0;
                border-radius: 5px;
                // background-color: #f7f7f7;
                // background-color:rgb(16, 41, 61); 
                background-color:rgb(16, 41, 61);             
                // rgba(0, 89, 255, 1)
                width: 150px;
                li{
                    float: none;
                    a{
                        line-height: 0;
                        padding: 20px;
                        display: block;
                        color: rgba(255, 255, 255, 0.7);
                        transition: 200ms;
                    }
                    a:hover{
                        background-color: rgba(0,0,0,.04);
                        color: rgba(255, 255, 255, 0.9);
                        font-size: 110%;
                        transition: 200ms;
                    }
                    
                }
                li:hover::after{
                    content:"";
                    position: absolute;
                    width: 100%;
                    height: 5px;
                    background-color: cornflowerblue;
                    top: 0;
                    display: none;
                }
            }
            // ul::before{
            //     content: "";
            //     width: 10px;
            //     height: 10px;
            //     position: absolute;
            //     top: -6px;
            //     left: 40px;
            //     transform: rotate(45deg);
            //     // background-color: #f7f7f7;
            //     // background-color:rgb(16, 41, 61);
            //     background-color:rgb(16, 41, 61); 
            //     z-index: -100;
            //     border-left: 1px solid $colorOne;
            //     border-top: 1px solid $colorOne;
            // }
        }
        li.active::after{
            content:"";
            position: absolute;
            width: 100%;
            height: 5px;
            background-color:rgba(255, 255, 255, 0.7);
            bottom: 0px;
            left: 50%;
            transform: translateX(-50%);
            transition: 300ms ease-in-out;
            display: block;
        }
        li::after{
            content:"";
            position: absolute;
            width: 0;
            height: 5px;
            background-color: $colorSix;
            bottom: 0px;
            left: 50%;
            transform: translateX(-50%);
            transition: 300ms ease-in-out;
            display: block;
        }        
        li:hover::after{
            content:"";
            position: absolute;
            width: 100%;
            height: 5px;
            background-color: rgba(255, 255, 255, 0.7);
            display: block;            
            left: 0;
            transform: translateX(0);            
        }
        li:nth-child(2):hover::after{
            content:"";
            position: absolute;
            width: 100%;
            height: 5px;
            background-color: rgba(255, 255, 255, 0.7);
            display: block;            
            left: 0;
            transform: translateX(0);
            bottom: 0;
            display: none;
        }
        li:hover ul{
            transition: 200ms ease-in-out;
            visibility: visible;
            opacity: 1;
            transform: translateY(0px);
        }
    }
    div.login-register{
        float: right;
        margin-right: 10px;
        a{
            padding: 5px 10px;
            margin-left: 5px;
            text-decoration: none;
            border-radius: 3px;
            color: $colorFive;            
            transition: 200ms ease-in-out;
            color: $colorFive;
            border: 1px solid $colorFive;
            color: #fff;
          background-color:rgb(28, 65, 95);
            span{
                margin-right: 5px;;
            }
        }
        a:hover{
            background-color:rgba(28, 65, 95, 0.801);
        }
    }
}
@media (max-width:520px){
    div.login-register{
        display: none;
    }
}
@media (max-width:780px){
    nav#navbar{
        width: 100%;
        height: 55px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        line-height: 55px;    
        border-bottom:1px solid rgba(0,0,0,.05);
        box-shadow: 0px 2px 5px rgba(0,0,0,.5);
        background-color:rgb(16, 41, 61); 
        a.hamburger{
            display: flex;                
            float: left;                       
            padding: 0em 1em;    
            font-size: 120%;     
            // margin-top: 2px;
            color: rgba(255, 255, 255, 0.76);
            background-color: rgba(0,0,0,.4);
            span{
                margin-top: 2px;
            }
        }
        a.brand-logo{           
            float: left;
            padding: 0px 10px;
            font-size: 1.2rem;            
            span.cod{
                color: orange;
            }
            span.acad{
                color:cornflowerblue;
            }
        }
        ul{
            display: none;           
        }
    }
    div#sidenav-wrapper.toggle-sidenav-wrapper{
        visibility: visible;
        opacity: 1;
    }
    div#sidenav-wrapper{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;        
        height:100%;
        background-color: rgba(0,0,0,.5);
        z-index:100;
        transition: 400ms;
        visibility: hidden;
        opacity: 0;
        div.sidenav::-webkit-scrollbar{
            width: 10px;
            background-color:rgb(16, 41, 61);
            box-shadow: inset 0px 0px 20px rgba(0,0,0,.5);
            
        }
        div.sidenav::-webkit-scrollbar-thumb{
            width: 100%;
            background-color:rgba(255, 255, 255, 0.7);
            border-radius: 10px;
        }
        div.sidenav.toggle-sidenav{
            left: 0;
        }
        div.sidenav{
            display: block;
            position: fixed;
            width: 300px;
            height: 100%;
            top: 0;
            left: -300px;
            background-color:rgb(16, 41, 61);
            z-index: 101;
            overflow-y: scroll;  
            transition:300ms ease-in-out;            
            a.close{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                box-sizing: border-box;
                text-decoration: none;
                color: rgba(255, 255, 255, 0.7);
                font-size: 1.2rem;
                position: absolute;
                top: 10px;
                left: 10px;
                padding: 1em;
                border-radius: 50%;
                transition: 200ms ease-in-out;
            }
            a.close:hover{
                background-color: rgba(255, 255, 255, 0.2);                                   
            }
            div.nav-items{                            
                div.login-register{
                    box-sizing: border-box;
                    width: 80%;
                    margin: 70px auto 20px auto;
                    display: flex;
                    a{
                        text-decoration: none;
                        display: block;
                        padding:.5em 1em;
                        width: 50%;
                        text-align: center;
                        color: #fff;
                        background-color: rgba(255, 255, 255, 0.2);
                        margin: 5px;
                        border-radius: 3px;
                        box-shadow: inset 0px 0px 3px #fff;
                        transition: 200ms ease-in-out;
    
                    }
                    a:hover{
                        background-color: rgba(226, 220, 220,.3);
                    }
                }
                display: block;                              
                ul{
                    list-style: none;
                    text-align: left;   
                    width: 100%;                                           
                    li:hover{
                        background-color: rgba(255, 255, 255, 0.1);
                        box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.2);                        
                  
                    }        
                    li{
                        transition: 200ms ease-in-out;
                        box-sizing: border-box;
                        display: block;                                        
                        a{
                            display: block;
                            position: relative;
                            box-sizing: border-box;
                            padding: 1em;
                            text-decoration: none;
                            color: rgba(226, 220, 220,.8);        
                            width:100%;
                            transition:200ms ease-in-out;
                        }
                        // a:hover{
                        //     border-left: 5px solid #fff;
                        // }
                        a.courses::after{
                            content: "";
                            display: block;
                            position: absolute;
                            right: 20px;
                            top: 40%;
                            width: 7px;
                            transform: translateY(-50%);
                            transform: rotate(-45deg);
                            height: 7px;
                            // background-color:rgb(16, 41, 61);
                            border-bottom: 3px solid rgba(255, 255, 255, 0.7);
                            border-left: 3px solid rgba(255, 255, 255, 0.7);
                            transition: 300ms ease-in-out;
                        }            
                        a.courses.up::after{
                            content: "";
                            display: block;
                            position: absolute;
                            right: 20px;
                            top: 40%;
                            width: 7px;
                            transform: translateY(-50%);
                            transform: rotate(135deg);
                            height: 7px;
                            // background-color:rgb(16, 41, 61);
                            border-bottom: 3px solid rgba(255, 255, 255, 0.7);
                            border-left: 3px solid rgba(255, 255, 255, 0.7);
                        }            
                        @keyframes dropdown{
                            0%{
                                height: 0px;
                            }
                            100%{
                                height: 285px;
                            }
                        }
                        @keyframes collapse{
                            0%{
                                height: 255px;
                            }
                            100%{
                                height:0px;
                            }
                        }    
                        ul{
                            text-align:center;
                            background-color: $colorOne;
                            height: 0;
                            overflow: hidden;                                                                                                    
                            animation: collapse 400ms ease-in-out;                                                                                                                  
                        }
                        ul.show-submenu{
                            height: 285px;                 
                            animation: dropdown 400ms ease-in-out;                                       
                            // transition: height 300ms ease-in-out; 
                        }
                    }
                    
                }
            }
        }
    }
}
// containers
div.container{
    position: relative;
    top: 0;
    box-sizing:border-box;
    clear: both;
    width: 100%; 
    padding: 1em;
    top:55px;
    background-color:rgb(28, 65, 95);
    // Blog
    div#blog{
        box-sizing: border-box;                
        position: relative;
        display: flex;
        
        div.more-onside{
            border: 2px solid rgba(0,0,0,.05);
            margin-right: 20px;
            position: fixed;
            left: 15px;
            top: 70px;
            width: 350px;
            background-color:rgba(0,0,0,.05);
            div.mores{
                div.heading{
                    text-align: center;
                    padding-top: 10px;
                    color: rgba(228, 225, 225, 0.5);
                }
                div.more{
                    padding: 10px;
                    box-sizing: border-box;
                    border-bottom: 1px solid rgba(0,0,0,.05);
                    line-height: 1.5em;
                    div.title{
                        a{
                            text-decoration: none;
                            margin-bottom: 5px;
                        }
                        
                        a h3{
                            color:rgba(99, 166, 192, 0.8);
                            font-size: 100%;
                            
                        }
                        a h3:hover{
                            color:rgba(99, 166, 192, 1);
                            font-size: 100%;
                            text-decoration: underline;
                        }
                    }
                    div.body{
                        p{
                            font-size: 15px;
                            color: rgba(226, 220, 220,.8);
                        }
                    }
                    div.written-by{
                        span{
                            font-size: 15px;
                            color:rgba(255, 255, 255, 0.4);
                        }
                    }
                }
            }
        }
        div.articles{
            margin-left: 370px;
            display: block;
            box-sizing: border-box;
            
            div.article{                                
                // background-color: rgba(0,0,0,.02);
                background-color: rgba(255, 255, 255, 0.1);
                box-sizing: border-box;
                // border: 1px solid rgba(0,0,0,.1);            
                margin-bottom: 5px;
                border-radius: 3px;
                // box-shadow: 0px 0px 50px rgba(0,0,0,.1);
                // background-color: #f7f7f7;
                border:2px solid rgba(0,0,0,.1);

                div.article-header{
                    padding: .5em 1em;
                    div.author{
                        display: flex;
                        div.profile-pic img{
                            width: 40px;
                            height: 40px;
                        }
                    }
                    div.author-name{
                        margin-left: 10px;
                        line-height: 1.2em;
                        h3{
                            color: rgba(255, 255, 255, 0.8);
                            font-size: 100%;
                        }
                        span{
                            color: rgba(255, 255, 255, 0.5);
                            font-size: 14px;
                        }
                    }
                }
                div.article-body{
                    display: block;                    
                    // border-top: 1px solid rgba(0,0,0,.1);
                    // border-bottom: 1px solid rgba(0,0,0,.1);
                    padding: 0px 20px 10px 20px;
                    div.title{
                        h1{
                            font-size: 120%;
                            color:rgba(99, 166, 192, 0.8);
                        }
                    }
                    div.content{
                        margin: 5px 0px;                        
                        p{
                            line-height: 1.6em;
                            color: rgba(255, 255, 255, 0.6);
                        }
                    }
                    div.read-more{
                        a{
                            text-decoration: none;
                            color: rgba(255, 255, 255, 0.4);
                        }
                        a:hover{
                            text-decoration: underline;
                        }
                    }
                }
                div.article-footer{
                    box-sizing: border-box;
                    padding: .5em 1em;                    
                    border-top: 2px solid rgba(0,0,0,.1);
                    // background-color: #f7f7f7;                    
                    div.content{
                        a{
                            text-decoration: none;                            
                            margin-right: 20px;
                            color:rgba(255, 255, 255, 0.6);
                        }
                    }
                }
            }
        }
    }    
    @media (max-width:780px){
      
        div#blog{
            box-sizing: border-box;                
            width: 100%;
            display: block;
            div.more-onside{
                border: 1px solid rgba(0,0,0,.05);
                margin-right: 0px;
                position: relative;
                left:0;
                top: 0;
                width: 100%;
                background-color:rgba(0,0,0,.05);
                display: none;
            }  
            div.articles{
                margin-left: 0;
                display: block;
                box-sizing: border-box;                
            }               
        }
    }
}
div.resume-container{
    padding: 0;
    margin: 0;
    div#resume{
        position: relative;
        top: 55px;
        width: 100%;
        min-height: 100vh;
        background-color: $backgroundFive;
        div.resume-contents{
            div.header{
                div.social-profiles{
                    display: flex;
                    box-sizing: border-box;
                    justify-content: center;
                    align-items: center;
                    // background-color: rgba(0,0,0,.1);
                    background-color:rgba(241, 59, 59, 0.3);
                    // background-color: rgba(241, 59, 59, 0.5);
                    height: 50px;
                    div.profile{
                        display: flex;
                        a{
                            position: relative;
                            width: 40px;
                            height: 40px;
                            display: flex;
                            justify-content: center;
                            align-items: center;                          
                            margin: 0px 10px;
                            border-radius: 50%;
                            color: rgba(255, 255, 255, 0.9);
                            transition: 200ms ease-in-out;
                            background-color: rgba(241, 59, 59, 0.3);
                            font-size: 1.5rem;
                            box-shadow: 0px 0px 10px rgba(0,0,0,.2);
                        } 
                        a:hover{
                            // background-color: rgba(0,0,0,.2);
                            background-color: rgba(241, 59, 59, 0.8);
                        }                                                                 
                    }
                }
                div.header-detail{
                    display: block;                    
                    box-sizing: border-box;
                    padding: 1em;          
                    align-items: center;      
                    background-color: rgba(255, 255, 255, 0.1);
                    height: 500px;
                    div.profile-and-objective{
                        display: grid;
                        grid-template-columns: 3fr 9fr;
                        justify-content: center;
                        align-items: center;
                        div.profile-image{
                            width: 200px;
                            height: 200px;
                            background-image: url('../images/Photo_2.jpg');
                            // background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                            margin: auto;
                            border-radius: 10px;
                            opacity: .7;
                        }
                        div.profile-name-and-objective{                                                        
                            box-sizing: border-box;
                            div.name{
                                h3{
                                    color: rgba(241, 59, 59, .8);
                                    font-size: 1.8rem;
                                    letter-spacing:2px;
                                    line-height: .8em;
                                }
                                span{
                                    color: rgba(255, 255, 255, 0.3);
                                }
                            }
                            div.objective{
                                margin-top: 10px;
                                color:rgba(255, 255, 255, 0.7);
                                line-height: 1.4em;
                            }
                            div.contact-detail{
                                box-sizing: border-box;
                                display: flex;                                                                
                                margin-top: 10px;
                                div:last-child{
                                    border-right: none;
                                }
                                div{
                                    margin-right: 10px; 
                                    border-right: 1px solid rgba(255, 255, 255, 0.2);
                                    box-sizing: border-box;
                                    padding-right: 10px;
                                    strong{
                                        color: #fff;
                                        span{
                                            color:rgba(241, 59, 59, .8);
                                            margin-right: 5px;
                                        }
                                    }
                                    span{
                                        color: rgba(255,255,255,.3);
                                    }
                                    a{
                                        color:cornflowerblue;
                                    }
                                }                                
                            }                            
                        }
                    }                    
                }
            }
            div.body{
                position:relative;
                width: 75%;
                margin: auto;
                background-color:$backgroundFive;
                top: -200px;
                border-radius:5px;
                box-shadow: 0px 0px 50px rgba(255,255,255,.04);
                padding: 1em;
            }            
        }
    }    
}
div.container-fluid{
    position:relative;
    top:55px;
    // background-color: rgba(17, 119, 17, 0.1);
    div.under-development-inform{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        background-color: rgba(0,0,0,.5);
        z-index: 100;
        visibility: hidden;
        opacity: 0;
        transition: 600ms ease-in-out;
        div.label{
            position: absolute;
            top:-100%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $backgroundFive;
            width: 400px;
            height: 300px;
            border-radius: 10px;
            box-shadow: 0px 0px 50px rgba(0,0,0,.1);                    
            transition: 500ms 100ms ease-in-out;
            div.contents{
                display: flex;
                justify-content: center;                
                width: 100%;
                height: 100%;
                margin-top: 20px;
                box-sizing: border-box;
                padding: 1em;
                h1{
                    color: rgba(241, 59, 59, 0.8);
                    margin-bottom: 10px;
                }
                h3{
                    color: rgba(255, 255, 255, 8);                    
                }
                p{
                    color:rgba(255, 255, 255, 0.658)
                }
                p.thank-you{
                    font-size: 120%;
                    margin-top: 20px;
                    color: rgba(241, 59, 59, 1);
                    font-weight: bold;
                }
            }
            a.ok{
                position: absolute;
                bottom: 20px;
                right: 30px;
                display: block;
                width: 40px;
                background-color: rgba(241, 59, 59, 0.8);
                color: rgba(255, 255, 255, 0.705);
                text-align: center;
                padding: .5em;
                border-radius: 5px;
                text-decoration: none;
                transition: 200ms ease-in-out;
            }
            a.ok:hover{
                background-color: rgba(241, 59, 59, 1);
            }
        }
        div.label.show-label{
            top: 50%;
        }
    }
    div.under-development-inform.show-under-development{
        visibility: visible;
        opacity: 1;
    }
    div#showcase{       
        width: 100%;
        min-height: 100vh;          
        background: #0f0c2985;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #24243e81, #302b6377, #0f0c2981);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #24243e75, #302b6386, rgba(15, 12, 41, 0.486)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        div.contents{
            width: 100%;
            min-height: 100vh;
            background-image: url('../images/undraw_web_development_w2vv.svg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        @media (max-width:850px){                        
        }

    }
}
div#courses{
    background-color: #052731ef;
    h1{
        text-align: center;
        font-size: 2rem;
        color: rgba(255, 255, 255, 0.76) ;
        padding-top: 1em;
    }
    div.content{
        box-sizing: border-box;
        display: flex;
        margin: auto;     
        scroll-behavior: smooth;   
        padding: 1em;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        div.course{
            max-width: 300px;
            box-sizing: border-box;            
            // border: 1px solid rgba(0,0,0,.1);
            margin: 10px;
            background-color: rgb(241, 59, 59);
            box-shadow: 0px 0px 2px rgba(0,0,0,.5);
            border-radius: 5px;
            div.logo{
                width: 100%;
                background-color: #07263a;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1em 0;
                span{
                    font-size: 3rem;
                }
            }

            div.course-body{
                padding: 1em 1em 0em 1em;

                h3{
                    margin: 10px 0px;
                    color:rgba(255, 255, 255, 0.8);
                }
                p{
                    margin-bottom: 10px;
                    font-size: 15px;
                    color: rgba(255, 255, 255, 0.7);
                }
                div.rating{
                    span{
                        color: yellow;                        
                    }
                    span:last-child{
                        color: $colorSix;
                    }
                }
                a.learn-more{
                    display: block;
                    padding: .5em;
                    background-color: #052731ef;
                    margin: 20px 0px;
                    text-align: center;
                    text-decoration: none;
                    color: #fff;
                    border-radius: 3px;
                }
            }
        }
        @media (max-width:520px){
            div.course{
                max-width: 100%;
                box-sizing: border-box;                            
                margin: 10px;
                background-color: rgb(241, 59, 59);
                box-shadow: 0px 0px 2px rgba(0,0,0,.5);
            }
        }
        div#html div.logo span{
            color: rgb(218, 74, 74);
        }
        div#css div.logo span{
            color: orange;
        }
        div#js div.logo span{
            color: yellow;
        }
        div#nodejs div.logo span{
            color: green;
        }
        div#mongodb div.logo span{
            color: rgba(17, 119, 17, 0.527);
        }
       
    }
}
div.team{
    box-sizing: border-box;
    background-color:rgba(61, 61, 42,.2);
    width: 100%;
    padding: 1em;
    div.heading{
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            color: #fff;
        }
    }
    div.developers{
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;        
        flex-wrap: wrap;
        background-image: url('../images/web-developer.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        div.developer:hover{
            transform: scale(1);
        }
        div#developer-one{
            @keyframes rotate-image {
                0%{
                    transform:rotate(0deg)
                }
                100%{
                    transform: rotate(360deg);
                }
            }
            div.header{                
                div.profile-pic{
                    position: relative;
                    box-sizing: border-box;
                    width: 120px;
                    height: 120px;
                    margin: auto;
                    border: 5px solid cornflowerblue;
                    border-right: 5px solid #fff;
                    border-left: 5px solid #fff;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // animation: rotate-image 1s linear infinite;
                    div.img{
                        position: absolute;
                        box-sizing: border-box;
                        background-image: url('../images/Photo_2.jpg');
                        display:block;   
                        margin: auto;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 50%;
                        width: 100px;
                        height: 100px;                    
                    }
                }
            }
        }
        div#developer-two{
            div.header{                
                div.profile-pic{
                    box-sizing: border-box;
                    width: 120px;
                    height: 120px;
                    margin: auto;
                    border: 5px solid cornflowerblue;
                    border-right: 5px solid #fff;
                    border-left: 5px solid #fff;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    div.img{
                        box-sizing: border-box;
                        background-image: url('https://www.jodilogik.com/wordpress/wp-content/uploads/2016/05/people-1.png');
                        display:block;   
                        margin: auto;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 50%;
                        width: 100px;
                        height: 100px;                    
                    }
                }
            }
        }
        div#developer-three{
            div.header{                
                div.profile-pic{
                    box-sizing: border-box;
                    width: 120px;
                    height: 120px;
                    margin: auto;
                    border: 5px solid cornflowerblue;
                    border-right: 5px solid #fff;
                    border-left: 5px solid #fff;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    div.img{
                        box-sizing: border-box;
                        background-image: url('https://www.jodilogik.com/wordpress/wp-content/uploads/2016/05/people-1.png');
                        display:block;   
                        margin: auto;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 50%;
                        width: 100px;
                        height: 100px;                    
                    }
                }
            }
        }
        div#developer-four{
            div.header{                
                div.profile-pic{
                    box-sizing: border-box;
                    width: 120px;
                    height: 120px;
                    margin: auto;
                    border: 5px solid cornflowerblue;
                    border-right: 5px solid #fff;
                    border-left: 5px solid #fff;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    div.img{
                        box-sizing: border-box;
                        background-image: url('https://www.jodilogik.com/wordpress/wp-content/uploads/2016/05/people-1.png');
                        display:block;   
                        margin: auto;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 50%;
                        width: 100px;
                        height: 100px;                    
                    }
                }
            }
        }
        div#developer-five{
            div.header{                
                div.profile-pic{
                    box-sizing: border-box;
                    width: 120px;
                    height: 120px;
                    margin: auto;
                    border: 5px solid cornflowerblue;
                    border-right: 5px solid#fff;
                    border-left: 5px solid #fff;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    div.img{
                        box-sizing: border-box;
                        background-image: url('https://www.jodilogik.com/wordpress/wp-content/uploads/2016/05/people-1.png');
                        display:block;   
                        margin: auto;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 50%;
                        width: 100px;
                        height: 100px;                    
                    }
                }
            }
        }
        div.developer{
            margin: 10px;
            width: 300px;
            height: auto;
            padding: 1em;
            border-radius: 5px;
            border: 1px solid rgba(0,0,0,.2);
            background-color:#f7f7f7;
            box-shadow: 0px 0px 50px rgba(0,0,0,.6);
            transform: scale(.9);
            transition: 200ms;
            border-bottom: 10px solid cornflowerblue;
            border-top: 10px solid cornflowerblue;
            background-color: orange;
            cursor: auto;
            div.header{
                div.profile-pic img{
                    display: block;
                    width: 100px;
                    height: 100px;
                    margin:auto;
                }
                div.profile-name{
                    line-height: 1.5em;
                    margin: 20px 0px 10px 0px;
                    h2{
                        color: teal;
                    }
                    span{
                        color:$colorFive;
                    }
                }
            }
            div.bio{
                p{
                    color: $colorSix;
                    font-size: 16px;
                }
            }
            div.social-profiles{
                margin-top: 20px;
                display: flex;
                justify-content: center;
                box-sizing: border-box;
                a{
                    box-sizing: border-box;
                    margin-right: 10px;
                    color: rgb(12, 58, 145);
                    font-size: 2rem;
                }
            }
        }
    }
}
div#contact{
    display: flex;
    justify-content: center;
    align-items: center;    
    width:100%;
    min-height:100vh;
    background-color:$backgroundFive;    
    div.content{
        box-sizing: border-box;
        width:75%;
        margin: auto;
        border: 1px solid rgba(0,0,0,.1);
        position: relative;
        display: flex;
        justify-content: center;        
        align-items: center;
        box-shadow: 0px 0px 40px rgba(0,0,0,.1);
        background-color: rgba(255, 255, 255, .2);
        height: 500px;
        border-radius: 5px;
        div.contact-detail{
            box-shadow: 0px 0px 40px rgba(0,0,0,.1);            
            box-sizing: border-box;
            padding:1em;
            // border-radius: 5px;            
            margin-right: auto;
            height: 100%;
            position: relative;        
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $backgroundFour;
            width: 50%;
            div.address, div.email, div.phone{
                margin: 20px 0px;
                display:flex;            
                strong{
                    flex: 1;
                    color: rgba(226, 220, 220,.8);
                    span.icon{                        
                        margin-right: 10px;
                        color: rgba(226, 220, 220,.8);
                    }
                }
                .text{
                    flex: 1;
                    color: rgba(226, 220, 220,.5);                   
                }
                a.text{
                    color: cornflowerblue;
                }
            }
        }
        div.message{                            
            box-sizing: border-box; 
            padding: 1em;           
            width: 50%;          
            div.heading{
                h1{
                    margin-bottom: 20px;
                    color:rgba(255, 255, 255, 0.7);
                    font-size: 1.5rem;
                    text-align:center;
                }
            }
            div.form-group{
                margin:20px 0px;                
                div{
                    input.form-control{
                        box-sizing: border-box;
                        border: none;
                        outline:none;                        
                        background-color: none;
                        padding: 10px 10px;
                        width: 100%;  
                        display: block;                                                                                
                        font-size: 110%;
                        background-color: rgba(0,0,0,.05);
                        border: 2px solid rgba(255, 255, 255, 0.2);
                        border-radius: 5px;
                        transition: 200ms ease-in-out;
                        color: rgba(255, 255, 255, 0.4);
                    }
                    input.form-control:focus{
                        background-color: rgba(255, 255, 255, 0.05);
                    }
                }
                textarea{
                    width: 100%;
                    display: block;
                    margin: 0;
                    border: none;
                    border: 2px solid rgba(255, 255, 255, 0.2);
                    background-color: rgba(0,0,0,.05);
                    outline: none;
                    border-radius: 5px;
                    color: rgba(255, 255, 255, 0.4);
                    transition: 200ms ease-in-out;
                    font-size:18px;
                }
                textarea:focus{
                    background-color: rgba(255, 255, 255, 0.05);
                }
                label{                    
                    color: rgba(255, 255, 255, 0.76);
                }
            }
            button{
                padding: .5em 1em;
                border: none;
                // background-color:$backgroundOne;                
                background-color: rgba(241, 59, 59, 0.849);
                cursor: pointer;
                color: rgba(255, 255, 255, 0.76);                
                display: block;
                border-radius: 5px;
                margin-left: auto;
                font-size: 18px;
                transition: 200ms ease-in-out;                
            }
            button:hover{
                // background-color: $backgroundTwo;
                background-color: rgba(241, 59, 59, 1);
            }
        }
    }
    @media (max-width:780px){
        div.content{
            box-sizing: border-box;
            width:100%;
            margin: auto;
            border: 1px solid rgba(0,0,0,.1);
            position: relative;
            display: block;
            justify-content: center;        
            align-items: center;
            box-shadow: 0px 0px 40px rgba(0,0,0,.1);
            background-color: rgba(255, 255, 255, .2);
            height:100%;
            border-radius: 5px;            
            div.contact-detail{
                width: 100%;               
            }
            div.message{
                width: 100%;
                div.heading{
                    h1{
                        text-align: center;
                    }
                }
            }
        }
    }
}
div.footer{
    box-sizing: border-box;
    background-color:cornflowerblue;
    padding: 2em; 
    position: relative;
    margin-top: 100px;
    display: none;
}
