@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pangolin&family=Playfair+Display&family=Poppins&display=swap');
// font-family: 'Pangolin', cursive;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Playfair Display', serif;
$colorOne:rgba(0,0,0,.1);
$colorTwo:rgba(0,0,0,.2);
$colorThree:rgba(0,0,0,.3);
$colorFour:rgba(0,0,0,.4);
$colorFive:rgba(0,0,0,.5);
$colorSix:rgba(0,0,0,.6);
$colorSeven:rgba(0,0,0,.7);
$colorEight:rgba(0,0,0,.8);
$colorNine:rgba(0,0,0,.9);
*{
    padding:0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-color:#fff;
}

// Navbar
nav#navbar{
    width: 100%;
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    line-height: 55px;    
    border-bottom:1px solid rgba(0,0,0,.05);
    background-color: #f7f7f7;
    a.brand-logo{
        box-sizing: border-box;
        float: left;
        padding: 0px 20px;
        text-decoration: none;
        font-size: 1.5rem;
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        color:$colorSeven;
        span.cod{
            color: orange;
        }
        span.acad{
            color:cornflowerblue;
        }
    }
    ul{
        list-style: none;
        li a.courses{
            position: relative;
            margin-right:10px;
        }
        li a.courses::after{
            content: "";
            width: 7px;
            height: 7px;
            display: block;
            position: absolute;
            top: 37%;
            right: -14px;
            transform: rotate(45deg);
            border-bottom: 2px solid $colorSix;
            border-right: 2px solid $colorSix;
            transition: 200ms;
            margin-right:10px;        
        }
        li:hover a.courses::after{
            content: "";
            width: 7px;
            height: 7px;
            display: block;
            position: absolute;
            top: 47%;
            right: -14px;
            transform: rotate(225deg);
            border-bottom: 2px solid $colorSeven;
            border-right: 2px solid $colorSeven;
        }
        li{
            float: left;
            position: relative;
            
            a{                
                font-weight:500;
                box-sizing: border-box;
                text-decoration: none;
                color:$colorSix;
                padding: 13px;
                
            }
            a:hover{                
                color: $colorSeven;
                transition: 200ms ease-in-out;   
            }
            ul{
                position: absolute;
                box-sizing: border-box;
                float: none;
                top: 50px;
                border: 1px solid $colorOne;
                padding: 5px 0px;
                margin: 0;
                box-shadow: 0px 0px 5px rgba(0,0,0,.2);
                transform: translateY(-20px);
                transition: 200ms ease-in-out;
                visibility: hidden;
                opacity: 0;
                border-radius: 5px;
                background-color: #f7f7f7;                
                // rgba(0, 89, 255, 1)
                width: 150px;
                li{
                    float: none;
                    a{
                        line-height: 0;
                        padding: 20px;
                        display: block;
                        color: $colorFive;
                        transition: 200ms;
                    }
                    a:hover{
                        background-color: rgba(0,0,0,.04);
                        color: $colorFive;
                        font-size: 110%;
                        transition: 200ms;
                    }
                    
                }
                li:hover::after{
                    content:"";
                    position: absolute;
                    width: 100%;
                    height: 5px;
                    background-color: cornflowerblue;
                    top: 0;
                    display: none;
                }
            }
            ul::before{
                content: "";
                width: 10px;
                height: 10px;
                position: absolute;
                top: -6px;
                left: 40px;
                transform: rotate(45deg);
                background-color: #f7f7f7;
                z-index: -100;
                border-left: 1px solid $colorOne;
                border-top: 1px solid $colorOne;
            }
        }
        
        // li::after{
        //     content:"";
        //     position: absolute;
        //     width: 0;
        //     height: 5px;
        //     background-color: $colorSix;
        //     top: 0;
        //     left: 50%;
        //     transform: translateX(-50%);
        //     transition: 300ms ease-in-out;
        //     display: block
        // }
        // li:hover::after{
        //     content:"";
        //     position: absolute;
        //     width: 100%;
        //     height: 5px;
        //     background-color: $colorSix;
        //     display: block;
        //     top: 0;
        //     left: 0;
        //     transform: translateX(0);
        // }
        li:hover ul{
            transition: 200ms ease-in-out;
            visibility: visible;
            opacity: 1;
            transform: translateY(0px);
        }
    }
    div.login-register{
        float: right;
        margin-right: 30px;
        a{
            padding: 5px 10px;
            margin-left: 5px;
            text-decoration: none;
            border-radius: 3px;
            color: $colorFive;            
            transition: 200ms ease-in-out;
            color: $colorFive;
            border: 1px solid $colorFive;
            color: #fff;
            background-color: $colorSix;
        }
        a:hover{
            background-color: $colorSeven;
        }
        a:nth-child(1){
            border: 1px solid $colorFive;
            color: $colorFive;           
           border-radius: 3px;
           background-color: #f7f7f7;
        }
        a:nth-child(1):hover{
            background-color: $colorSeven;
            color: #fff;
            border: 1px solid $colorEight;
        }
    }
}

// containers
div.container{
    position: relative;
    box-sizing:border-box;
    clear: both;
    width: 100%; 
    padding: 1em;
    top:70px;

    // Blog
    div#blog{
        box-sizing: border-box;                
        position: relative;
        display: flex;
        div.more-onside{
            border: 2px solid rgba(0,0,0,.05);
            margin-right: 20px;
            position: fixed;
            left: 15px;
            top: 85px;
            width: 350px;
            background-color:rgba(0,0,0,.05);
            div.mores{
                div.heading{
                    text-align: center;
                    padding-top: 10px;
                    color: rgba(0,0,0,.5);
                }
                div.more{
                    padding: 10px;
                    box-sizing: border-box;
                    border-bottom: 1px solid rgba(0,0,0,.05);
                    line-height: 1.5em;
                    div.title{
                        a{
                            text-decoration: none;
                            margin-bottom: 5px;
                        }
                        a:hover{
                            text-decoration: underline;
                        }
                        a h3{
                            color:rgb(170, 40, 40);
                            font-size: 100%;
                            
                        }
                    }
                    div.body{
                        p{
                            font-size: 15px;
                            color: #333;
                        }
                    }
                    div.written-by{
                        span{
                            font-size: 15px;
                            color: $colorFive;
                        }
                    }
                }
            }
        }
        div.articles{
            margin-left: 370px;
            display: block;
            box-sizing: border-box;
            
            div.article{                                
                background-color: rgba(0,0,0,.02);
                box-sizing: border-box;
                // border: 1px solid rgba(0,0,0,.1);            
                margin-bottom: 5px;
                border-radius: 3px;
                // box-shadow: 0px 0px 50px rgba(0,0,0,.1);
                // background-color: #f7f7f7;
                border:1px solid rgba(0,0,0,.05);
                div.article-header{
                    padding: .5em 1em;
                    div.author{
                        display: flex;
                        div.profile-pic img{
                            width: 40px;
                            height: 40px;
                        }
                    }
                    div.author-name{
                        margin-left: 10px;
                        line-height: 1.2em;
                        h3{
                            color: rgba(0,0,0,.7);
                            font-size: 100%;
                        }
                        span{
                            color: rgba(0,0,0,.5);
                            font-size: 14px;
                        }
                    }
                }
                div.article-body{
                    display: block;                    
                    // border-top: 1px solid rgba(0,0,0,.1);
                    // border-bottom: 1px solid rgba(0,0,0,.1);
                    padding: 0px 20px 10px 20px;
                    div.title{
                        h1{
                            font-size: 120%;
                            color:rgb(76, 91, 105);
                        }
                    }
                    div.content{
                        margin: 5px 0px;                        
                        p{
                            line-height: 1.6em;
                        }
                    }
                    div.read-more{
                        a{
                            text-decoration: none;
                            color: rgb(11, 47, 114);
                        }
                        a:hover{
                            text-decoration: underline;
                        }
                    }
                }
                div.article-footer{
                    box-sizing: border-box;
                    padding: .5em 1em;                    
                    border-top: 1px solid rgba(0,0,0,.05);
                    // background-color: #f7f7f7;                    
                    div.content{
                        a{
                            text-decoration: none;                            
                            margin-right: 20px;
                            color:cornflowerblue;
                        }
                    }
                }
            }
        }
    }
    @media (max-width:780px){        
        div#blog{
            box-sizing: border-box;                
            width: 100%;
            display: block;
            div.more-onside{
                border: 1px solid rgba(0,0,0,.05);
                margin-right: 0px;
                position: relative;
                left:0;
                top: 0;
                width: 100%;
                background-color:rgba(0,0,0,.05);
                display: none;
            }  
            div.articles{
                margin-left: 0;
                display: block;
                box-sizing: border-box;                
            }               
        }
    }
}
div.container-fluid{
    position:relative;
    top:55px;
    background-color: rgba(17, 119, 17, 0.1);
    div#showcase{
        background-image: url('../images/svg.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        min-height: 100vh;  

        @media (max-width:850px){            
            
        }

    }
}
div#courses{
    background-color: #f7f7ff;
    h1{
        text-align: center;
        font-size: 2rem;
        color: $colorSeven;
        padding-top: 1em;
    }
    div.content{
        box-sizing: border-box;
        display: flex;
        margin: auto;     
        scroll-behavior: smooth;   
        padding: 1em;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        div.course{
            max-width: 300px;
            box-sizing: border-box;            
            border: 1px solid rgba(0,0,0,.1);
            margin: 10px;
            background-color: #fff;
            box-shadow: 0px 0px 2px rgba(0,0,0,.5);
            div.logo{
                width: 100%;
                background-color: #f7f7f7;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1em 0;
                span{
                    font-size: 3rem;
                }
            }

            div.course-body{
                padding: 1em 1em 0em 1em;

                h3{
                    margin: 10px 0px;
                    color: $colorSix;
                }
                p{
                    margin-bottom: 10px;
                    font-size: 15px;
                }
                div.rating{
                    span{
                        color: yellow;                        
                    }
                    span:last-child{
                        color: $colorSix;
                    }
                }
                a.learn-more{
                    display: block;
                    padding: .5em;
                    background-color: rgba(12, 87, 247, .9);
                    margin: 20px 0px;
                    text-align: center;
                    text-decoration: none;
                    color: #fff;
                    border-radius: 3px;
                }
            }
        }
        @media (max-width:520px){
            div.course{
                max-width: 100%;
                box-sizing: border-box;            
                border: 1px solid rgba(0,0,0,.1);
                margin: 10px;
                background-color: #fff;
                box-shadow: 0px 0px 2px rgba(0,0,0,.5);
            }
        }
        div#html div.logo span{
            color: rgb(218, 74, 74);
        }
        div#css div.logo span{
            color: orange;
        }
        div#js div.logo span{
            color: yellow;
        }
        div#nodejs div.logo span{
            color: green;
        }
        div#mongodb div.logo span{
            color: rgba(17, 119, 17, 0.527);
        }
       
    }
}
div.team{
    box-sizing: border-box;
    background-color:rgba(61, 61, 42,.2);
    width: 100%;
    padding: 1em;
    div.heading{
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            color: #fff;
        }
    }
    div.developers{
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;        
        flex-wrap: wrap;
        background-image: url('../images/web-developer.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        div.developer:hover{
            transform: scale(1);
        }
        div#developer-one{
            @keyframes rotate-image {
                0%{
                    transform:rotate(0deg)
                }
                100%{
                    transform: rotate(360deg);
                }
            }
            div.header{                
                div.profile-pic{
                    position: relative;
                    box-sizing: border-box;
                    width: 120px;
                    height: 120px;
                    margin: auto;
                    border: 5px solid cornflowerblue;
                    border-right: 5px solid #fff;
                    border-left: 5px solid #fff;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // animation: rotate-image 1s linear infinite;
                    div.img{
                        position: absolute;
                        box-sizing: border-box;
                        background-image: url('../images/Photo_2.jpg');
                        display:block;   
                        margin: auto;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 50%;
                        width: 100px;
                        height: 100px;                    
                    }
                }
            }
        }
        div#developer-two{
            div.header{                
                div.profile-pic{
                    box-sizing: border-box;
                    width: 120px;
                    height: 120px;
                    margin: auto;
                    border: 5px solid cornflowerblue;
                    border-right: 5px solid #fff;
                    border-left: 5px solid #fff;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    div.img{
                        box-sizing: border-box;
                        background-image: url('https://www.jodilogik.com/wordpress/wp-content/uploads/2016/05/people-1.png');
                        display:block;   
                        margin: auto;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 50%;
                        width: 100px;
                        height: 100px;                    
                    }
                }
            }
        }
        div#developer-three{
            div.header{                
                div.profile-pic{
                    box-sizing: border-box;
                    width: 120px;
                    height: 120px;
                    margin: auto;
                    border: 5px solid cornflowerblue;
                    border-right: 5px solid #fff;
                    border-left: 5px solid #fff;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    div.img{
                        box-sizing: border-box;
                        background-image: url('https://www.jodilogik.com/wordpress/wp-content/uploads/2016/05/people-1.png');
                        display:block;   
                        margin: auto;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 50%;
                        width: 100px;
                        height: 100px;                    
                    }
                }
            }
        }
        div#developer-four{
            div.header{                
                div.profile-pic{
                    box-sizing: border-box;
                    width: 120px;
                    height: 120px;
                    margin: auto;
                    border: 5px solid cornflowerblue;
                    border-right: 5px solid #fff;
                    border-left: 5px solid #fff;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    div.img{
                        box-sizing: border-box;
                        background-image: url('https://www.jodilogik.com/wordpress/wp-content/uploads/2016/05/people-1.png');
                        display:block;   
                        margin: auto;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 50%;
                        width: 100px;
                        height: 100px;                    
                    }
                }
            }
        }
        div#developer-five{
            div.header{                
                div.profile-pic{
                    box-sizing: border-box;
                    width: 120px;
                    height: 120px;
                    margin: auto;
                    border: 5px solid cornflowerblue;
                    border-right: 5px solid#fff;
                    border-left: 5px solid #fff;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    div.img{
                        box-sizing: border-box;
                        background-image: url('https://www.jodilogik.com/wordpress/wp-content/uploads/2016/05/people-1.png');
                        display:block;   
                        margin: auto;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 50%;
                        width: 100px;
                        height: 100px;                    
                    }
                }
            }
        }
        div.developer{
            margin: 10px;
            width: 300px;
            height: auto;
            padding: 1em;
            border-radius: 5px;
            border: 1px solid rgba(0,0,0,.2);
            background-color:#f7f7f7;
            box-shadow: 0px 0px 50px rgba(0,0,0,.6);
            transform: scale(.9);
            transition: 200ms;
            border-bottom: 10px solid cornflowerblue;
            border-top: 10px solid cornflowerblue;
            background-color: orange;
            cursor: auto;
            div.header{
                div.profile-pic img{
                    display: block;
                    width: 100px;
                    height: 100px;
                    margin:auto;
                }
                div.profile-name{
                    line-height: 1.5em;
                    margin: 20px 0px 10px 0px;
                    h2{
                        color: teal;
                    }
                    span{
                        color:$colorFive;
                    }
                }
            }
            div.bio{
                p{
                    color: $colorSix;
                    font-size: 16px;
                }
            }
            div.social-profiles{
                margin-top: 20px;
                display: flex;
                justify-content: center;
                box-sizing: border-box;
                a{
                    box-sizing: border-box;
                    margin-right: 10px;
                    color: rgb(12, 58, 145);
                    font-size: 2rem;
                }
            }
        }
    }
}
div#contact{
    display: flex;
    justify-content: center;
    align-items: center;    
    width:100%;
    min-height:100vh;
    background-color:rgb(15, 15, 43);
    div.content{
        box-sizing: border-box;
        width:50%;
        margin: auto;
        border: 1px solid rgba(0,0,0,.1);
        padding:1em;
        position: relative;
        display: flex;
        justify-content: center;
        border-radius: 5px;
        align-items: center;
        box-shadow: 0px 0px 40px rgba(0,0,0,.1);
        background-color: #f7f7f7;
        div.contact-detail{
            box-shadow: 0px 0px 40px rgba(0,0,0,.1);
            position: absolute;
            border:1px solid rgba(0,0,0,.2);
            width: 400px;
            left: -75%;
            transform: translateX(80%);
            background-color:#fff;
            box-sizing: border-box;
            padding:1em;
            border-radius: 5px;
            div.address, div.email, div.phone{
                margin: 20px 0px;
                display:flex;            
                strong{
                    flex: 1;
                    span.icon{
                        margin-right: 10px;
                    }
                }
                .text{
                    flex: 1;
                }
            }
        }
        div.message{    
            width: 400px;
            margin-left: auto;
            box-sizing: border-box;
            padding: 20px;
            div.heading{
                h1{
                    margin-bottom: 20px;
                    color: $colorFive;
                    font-size: 1.5rem;
                }
            }
            div.form-group{
                margin:20px 0px;
                position: relative;
                input.form-control{
                    border: none;
                    outline:none;
                    border-bottom: 1px solid rgba(0,0,0,.5);
                    background-color: none;
                    padding: 5px 10px;
                    width:100%;
                    position: relative;
                    z-index: 0;
                }
                label{
                    position: relative;
                    top: 20px;
                    z-index: 1;
                    
                }
            }
        }
    }
}
div.footer{
    box-sizing: border-box;
    background-color:cornflowerblue;
    padding: 2em; 
    position: relative;
    margin-top: 100px;
    display: none;
}